img.opaque {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

.bg-primary {
  background-color: #015983 !important;
}

.border-primary {
  border-color: #015983 !important;
}

.text-primary {
  color: #015983 !important;
}

.translate-y-15 {
  transform: translateY(15%);
  -webkit-transform: translateY(15%);
  -moz-transform: translateY(15%);
}

.tooltip {
  position: relative;
  z-index: 1;
}

.tooltip .tooltip-text {
  visibility: hidden;
  text-align: center;
  /* padding: 2px 6px; */
  position: absolute;
  z-index: 100;
  /* top: -5px;
  left: 5px; */
  top: -120%;
}
.tooltip .tooltip-text--icon {
  transform: translate(-30%, -5px);
  -webkit-transform: translate(-30%, -5px);
  -moz-transform: translate(-30%, -5px);
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.mt-3px {
  margin-top: 3px;
}

