img.opaque {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

.bg-primary {
  background-color: #015983 !important;
}

.translate-y-15 {
  transform: translateY(15%);
  -webkit-transform: translateY(15%);
  -moz-transform: translateY(15%);
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    top: 0;
    bottom: 0;
    left: -300px;
    /* width: 300px; */
    height: 100%;
    /* background-color: #272727; */
    transition: all ease-in-out .5s;
  }
}